.sidebar {
    position: fixed;
    z-index: var(--z-fixed);
    transform: translateX(-70%);
    transition: 0.3s;
    top: 52px;
    left: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid var(--read-only-input);
    padding-top: 2rem;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--container-color);

    &--show {
        opacity: 1;
        transform: translateX(0);

        .sidebar__button {
            justify-content: start;
            width: 95%;
        }

        .sidebar__button-title {
            width: initial;
            visibility: visible;
            opacity: 1;
        }
    }

    &__title {
        text-align: center;
    }

    // ControlNav
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.4rem;
        color: var(--title-color);

        text-transform: capitalize;

        width: 30%;
        margin-left: auto;
        padding: 1.2rem 1.6rem;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        cursor: pointer;
        user-select: none;
        transition: 0.3s;

        &--dropdown {
            margin-left: auto;
        }

        &--active.sidebar__button {
            &::after {
                height: 100%;
            }
        }

        &--children.sidebar__button {
            width: 85%;
            animation: scrollRight 0.2s ease-in;
        }

        &:hover {
            &::after {
                height: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 4px;
            height: 0;
            border-radius: 20px;
            background-color: var(--title-color-dark);

            transition: 0.3s;
        }

        &-title {
            visibility: hidden;
            opacity: 0;
            width: 0;
            transition: 0.3s;
        }
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    41% {
        transform: translateX(0);
    }
}
