.sidebar {
    position: fixed;
    z-index: var(--z-fixed);
    transform: translateX(-100%);
    transition: 0.3s;
    opacity: 0;
    top: 52px;
    left: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid var(--read-only-input);
    padding-top: 2rem;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--container-color);

    &--show {
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        text-align: center;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
        color: var(--title-color);

        width: 95%;
        margin-left: auto;
        padding: 1.2rem 1.6rem;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        cursor: pointer;
        user-select: none;

        &--active.sidebar__button {
            &::after {
                height: 100%;
            }
        }

        &:hover {
            &::after {
                height: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 4px;
            height: 0;
            border-radius: 20px;
            background-color: var(--title-color-dark);

            transition: 0.3s;
        }
    }
}
