.wrapper {
    min-width: 22rem;
    width: 100%;
    background-color: red;
    min-height: 100px;
    max-height: 50vh;
    overflow-y: auto;

    background-color: var(--container-color);
    box-shadow: var(--read-only-input) 0px 2px 12px;
    border-radius: 1rem;
    padding: 1rem;
}
