.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 1px solid var(--read-only-input);
    padding: 0.4rem 0;
    background-color: var(--container-color);
    z-index: var(--z-fixed);

    &__bars {
        font-size: 3rem;
        cursor: pointer;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 1.2rem;
    }

    &__hamburger {
        position: relative;
        width: 3rem;
        height: 3rem;
        cursor: pointer;

        &--common {
            display: block;
            position: absolute;
            height: 2px;
            width: 2rem;
            background-color: #000;
            border-radius: 50px;

            transition: 0.3s;
        }

        &-top {
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
        }

        &-middle {
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        &-bot {
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
        }

        &--show {
            .header__hamburger {
                &-top {
                    left: 2px;
                    top: 14px;
                    width: 2.5rem;
                    transform: rotate(45deg);
                }

                &-bot {
                    left: 2px;
                    top: 14px;
                    width: 2.5rem;
                    transform: rotate(-45deg);
                }

                &-middle {
                    opacity: 0;
                    transform: rotate(20px);
                }
            }
        }
    }

    &__control {
    }
}
